*.gem
*.rbc
.bundle
.config
.DS_STORE
.idea
db
debug.log
coverage
Gemfile.lock
gemfiles/*.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
storebasestiname_unittest.sql
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

test/test.log
