*.gem
*.rbc
.bundle
.config
.DS_STORE
debug.log
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
gemfiles/*.lock
Gemfile.lock
.idea

# YARD artifacts
.yardoc
_yardoc
doc/
